version: '3.8'

services:
  app:
    image: quay.io/jupyter/minimal-notebook:latest
    ports:
      - "8888:8888"
    volumes:
      - .:/home/jovyan/work
    environment:
      - JUPYTER_ENABLE_LAB=yes
      - GRANT_SUDO=yes
      - JUPYTER_TOKEN=easy

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.4.3
    ports:
      - "9200:9200"
      - "9300:9300"
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false

  # ollama:
  #     image: ollama/ollama:latest
  #     ports:
  #       - "11434:11434"
  #     environment:
  #       - OLLAMA_USE_CPU=1

  ollama-gemma2b:
    build:
      context: .
      dockerfile: Dockerfile.ollama.gemma2b
    ports:
      - "11434:11434"
    environment:
      - OLLAMA_USE_CPU=1

  metrics-db:
    image: postgres
    environment:
      POSTGRES_USER: "admin"
      POSTGRES_PASSWORD: "P@ssw0rd!"
      POSTGRES_DB: "metrics_db"
    ports:
    - 5432:5432
    volumes:
      - monitoring_data:/var/lib/postgresql/data

  dashboard:
    image: grafana/grafana:11.0.0
    depends_on:
      - metrics-db
      - app
    environment:
      GF_SECURITY_ADMIN_USER: "admin"
      GF_SECURITY_ADMIN_PASSWORD: "P@ssw0rd!"
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
      # - ../04-monitoring/grafana/grafana.ini:/etc/grafana/grafana.ini
      - ../04-monitoring/grafana/provisioning:/etc/grafana/provisioning

volumes:
  monitoring_data: {}
  grafana_data: {}
